---
import Pattern from "../assets/background-2.svg?url";



const {width = 'initial', height = '100svh'} = Astro.props;

---

<div class="Background">

    <video class="Background-video" src={''} autoplay muted loop

        style={`background-image: url(${Pattern})`}

        transition:persist

    ></video>

    <div class="Background-content">

        <slot />

    </div>
</div>

<script>
    import ThemeChanging from "src/utils/Themes/ThemeChanging.js";

    ThemeChanging.listen((theme) => {

        console.log('New theme: ', theme);

        const background = theme.background;

        const $video = document.querySelector('.Background .Background-video');
        const $background = document.querySelector('.Background');

        $video.src = background?.video || '';

        $video.style.backgroundImage = background?.poster ? `url(${background.poster})` : '';
    });

</script>


<style>

    .Background {
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
    }
    .Background > * {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .Background-video {

        width: 100vw;
        height: 100vh;

        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        pointer-events: none;
    }
    .Background-content {

        display: flow-root;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }
</style>