---
import Gargantua from "../assets/Gargantua.mp4";
import GargantuaPoster from "../assets/Gargantua-poster.jpg";


const {width = 'initial', height = '100svh'} = Astro.props;

---

<div class="Background Background-active">

    <video class="Background-video" src={Gargantua} autoplay muted loop
    
        style={{backgroundImage: `url(${GargantuaPoster.src})`}}

        transition:persist

    ></video>

    <div class="Background-content">

        <slot />

    </div>
</div>

<script>
    import ThemeChanging from "src/utils/Themes/ThemeChanging.js";

    ThemeChanging.listen((theme) => {

        console.log('New theme: ', theme);

        const background = theme.background;

        const $video = document.querySelector('.Background .Background-video');
        const $background = document.querySelector('.Background');

        if(background){

            $video.src = background.video;
            $video.style.backgroundImage =  `url(${background.poster})`;

            $background.classList.toggle('Background-active', true);
        }
        else {
            $video.src = '';
            $video.style.backgroundImage = '';

            $background.classList.toggle('Background-active', false);
        }
    });

</script>


<style>

    .Background {
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
    }
    .Background > * {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .Background-video {

        width: 100vw;
        height: 100vh;

        object-fit: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        pointer-events: none;
    }
    .Background-content {

        display: flow-root;
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .Background-active .Background-content {
        backdrop-filter: blur(6px) saturate(220%);

		background: linear-gradient(45deg, #00000089 40%, #00000029 100%);

        @media (max-width: 767.98px) {
            background: #000000b4;
        }
    }
</style>