---
import { EXPERIENCE } from "@Data/Experience/Experience.js";



---

<section class="Experience" id="Experiencia">

    <h2 class="Experience-title">Experiencia</h2>

    <div class="Experience-content">

        {
            EXPERIENCE.map((ex) => {

                const startDate = new Date(ex.dates.start).toLocaleDateString('es-AR', {month: 'long', year: 'numeric'});
                const endDate = ex.dates.end && new Date(ex.dates.end).toLocaleDateString('es-AR', {month: 'long', year: 'numeric'});

                return <div class="Experience-item">

                    <div class="Experience-item-info">
   
                        <h4 class="title">{ex.title}</h4>
                    
                        <p class="date">
                            <span>{startDate}</span>
                            {endDate && 
                                <> - <span>{endDate}</span></>
                            }
                        </p>

                        {
                            ex.description && 
                            <p class="description">{ex.description}</p>
                        }
    
                    </div>
  
                </div>
            })
        }

    </div>

</section>

<style>
    .Experience {
        margin-top: 50px;

        scroll-margin-top: var(--sections-scroll-margin-top);
    }

    .Experience-title {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: clamp(30px, 5vw, 40px);
        border-bottom: 2px solid var(--section-border-color);
        letter-spacing: 2px;
    }

    .Experience-content {
        padding: 50px;
        display: flex;
        gap: 0;
        flex-direction: column;

        @media (max-width: 575.98px) {
            padding: 50px 15px;
        }
    }

    .Experience-item {
        padding-top: 0;
        padding-left: 40px;
        padding-bottom: 50px;
        position: relative;

        --timeline-line-width: 2px;

        display: flex;
        gap: 10px;
    }

    /*Timeline line*/
    .Experience-item::before {
        display: block;
        content: "";

        position: absolute;
        left: 0;
        top: 15px;
        
        width: var(--timeline-line-width);
        height: 100%;
        background-color: var(--timeline-line-color);
    }
    .Experience-item:last-child::before {
        content: none;
    }

    /*Timeline icon*/
    .Experience-item::after {
        display: block;
        content: "\f287";
        content: "\f1ff";
        content: "\f208";
        font-size: 20px;
        font-family: 'bootstrap-icons';

        position: absolute;
        top: 0;
        left: -9px;

        color: var(--timeline-icon-color);
    }

    .Experience-item-info {
        position: relative;

    }
    .Experience-item-info a {
        text-decoration: none;
    }

    .Experience-item-info .title {
        font-size: 24px;
        color: var(--timeline-title-color);
        letter-spacing: 1px;
    }

    .Experience-item-info .date {
        font-size: 16px;
        color: var(--text-subtitle);
    }
    .Experience-item-info .date span {

        display: inline-block;

        &::first-letter {

            text-transform: capitalize;
        }
    }


    .Experience-item-info .description {
        font-size: 16px;
        max-width: 70ch;
        text-wrap: balance;
    }

</style>