---
import Redes from "./Redes.astro";
import * as perfil from "../assets/perfil.md";
---



<footer>
    <section class="container">

        <Redes />

        <p class="p-0 m-0">
            Hecho con <i class="bi bi-suit-heart-fill" style={{color: '#f00'}}></i> por

            <strong>
                <a href="https://www.linkedin.com/in/franco-javier-alvarez/" target="_blank" rel="noopener noreferrer" style="color:#F3B61F" class="astro-SZ7XMLTE">
                    {perfil.frontmatter.name}
                </a>
            </strong>
        </p>
    </section>
</footer>

<style>
    footer {
        padding-top: 150px;
        padding-bottom: 20px;
        margin-top: auto;
    }
    footer section {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer a {
        text-decoration: none;
    }
</style>