---
import PerfilPhoto from "@Data/perfil.webp";
import Redes from "./Redes.astro";
import * as perfil from "@Data/perfil.md";


---



<section class="Perfil">

    <div class="Perfil-content">

        <div class="Perfil-data">

            <img class="Perfil-image" src={PerfilPhoto.src} alt={`Foto de perfil de ${perfil.frontmatter.name}`}>
    
            <h1 class="Perfil-name">{perfil.frontmatter.name}</h1>
    
            <Redes />
        </div>


        <article class="Perfil-description">
            <perfil.Content />
        </article>
    </div>

</section>

<style>
    .Perfil {
        margin: 0;
        padding-top: 20px;

        width: fit-content;
    }

    .Perfil-content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width: 767.98px) {
            align-items: center;
        }
    }
    .Perfil-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 80%;

        @media (max-width: 575.98px) {
            width: 100%;
        }
    }
    .Perfil-image {
        max-width: 200px;
        border-radius: 50%;
        filter: brightness(130%) drop-shadow(7px 7px 5px rgba(0,0,0,0.6)) saturate(120%);
    }

    .Perfil-name {
        color: var(--title-color);
        text-align: center;
        font-size: clamp(30px, 5vw, 47px);
        letter-spacing: 4px;
    }

    .Perfil-description {
        padding: 10px;
        color: var(--text-color);
        letter-spacing: 1px;
    }
    .Perfil-description :global(p) {
        text-wrap: balance;
        max-width: 90ch;
        font-size: clamp(14px, 3vw, 18px);
        line-height: 30px;
    }
    .Perfil-description :global(p strong) {
        color: var(--text-emphasis);
    }
    
</style>