---
import PerfilPhoto from "../assets/perfil.webp";
import Redes from "./Redes.astro";
import * as perfil from "../assets/perfil.md";


---



<section class="Perfil">

    <div class="Perfil-content">

        <div class="Perfil-data">

            <img class="Perfil-image" src={PerfilPhoto.src} alt={`Foto de perfil de ${perfil.frontmatter.name}`}>
    
            <h1 class="Perfil-name">{perfil.frontmatter.name}</h1>
    
            <Redes />
        </div>


        <article class="Perfil-description">
            <perfil.Content />
        </article>
    </div>

</section>

<style>
    .Perfil {
        margin: 0;
        padding-top: 0px;

        width: fit-content;
    }

    .Perfil-content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .Perfil-data {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 80%;
    }
    .Perfil-image {
        max-width: 200px;
        border-radius: 50%;
        filter: brightness(130%) drop-shadow(7px 7px 5px rgba(0,0,0,0.6));
/*         backdrop-filter: blur(16px) saturate(120%); */
    }

    .Perfil-name {
        color: #0453ff;
        color: #f3b61f;
        text-align: center;
    }

    .Perfil-description {
        padding: 10px;
        color: white;
    }
    .Perfil-description :global(p) {
        text-wrap: balance;
        width: 90ch;
    }
    .Perfil-description :global(p strong) {
        color: #f3b61f;
    }
    
</style>