---
import {REDES} from "@Data/Redes.js";


const {width = '500px', size = '22px'} = Astro.params;
---


<ul class="Redes" style={{maxWidth: width, fontSize: size}}>

    {
        REDES.map(({name, link, bi}) => {

            return <li>
                <a href={link} target="_blank" rel="noopener noreferrer" 
            
                    title={name}
                >
                    <i class="bi" class:list={[bi]}></i>
                </a>
            </li>
        })
    }
</ul>


<style>

    .Redes {

        display: flex;
        justify-content: space-around;
        list-style: none;
        padding: 15px;
        width: 100%;
    }

    .Redes a i::before {
        transition: scale 0.1s ease;
    }
    .Redes a:hover i::before {
        scale: 1.2;
    }

    .Redes a[title="whatsapp"]{
        color: var(--whatsapp-icon-color);
    }
    .Redes a[title="curriculum"]{
        color: var(--curriculum-icon-color);
    }
    .Redes a[title="linkedin"]{
        color: var(--linkedin-icon-color);
    }
    .Redes a[title="github"]{
        color: var(--github-icon-color);
    }
    .Redes a[title="mail"]{
        color: var(--mail-icon-color);
    }
</style>