

[theme="light"] {
    --bs-body-bg: #ffffff;
    --text-color: #000000;
    --text-emphasis: #003492;
    --text-subtitle: #8a8a8a;
    --title-color: #000;

    --timeline-line-color: #003492;
    --timeline-icon-color: #003492;

    --section-border-color: #003492;

    --navigation-navbar-color: #eaeaea;

    --card-background: #faf6f4;
    --card-text-color: #000000;
    --card-title-color: #000000;

    --curriculum-icon-color: #fa0f00;
    --whatsapp-icon-color: #1daa61;
    --linkedin-icon-color: #0a66c2;
    --mail-icon-color: #505050;
    --github-icon-color: #000000;


    color-scheme: light;
}

[theme="dark"] {
    --bs-body-bg: #0d1117;
    --text-color: #ffffff;
    --text-subtitle: #777777;
    --text-emphasis: #f3b61f;

    --title-color: #ffffff;

    --timeline-line-color: #ffffffab;
    --timeline-icon-color: #ffffff;

    --section-border-color: #003492;

    --navigation-navbar-color: #090b0f75;

    --card-background: #00000095;
    --card-text-color: #fff;
    --card-title-color: #f3b61f;

    --curriculum-icon-color: #fa0f00;
    --whatsapp-icon-color: #25d366;
    --linkedin-icon-color: #0a66c2;
    --mail-icon-color: #a7a7a7;
    --github-icon-color: #fff;

    color-scheme: dark;
}

[theme="blackhole"] {
    --bs-body-bg: #0d1117;
    --text-color: #ffffff;
    --text-subtitle: #777777;
    --text-emphasis: #f3b61f;

    --section-border-color: #003492;

    --navigation-navbar-color: transparent;

    --card-background: #00000095;
    --card-text-color: #fff;
    --card-title-color: #f3b61f;

    --curriculum-icon-color: #fa0f00;
    --whatsapp-icon-color: #25d366;
    --linkedin-icon-color: #0a66c2;
    --mail-icon-color: #a7a7a7;
    --github-icon-color: #fff;

    color-scheme: dark;
}