--- 
import "bootstrap/dist/css/bootstrap.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import "../css/themes.css";

import bootstrap from "bootstrap/dist/js/bootstrap.bundle.js?url";

import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";
import { ViewTransitions, fade } from "astro:transitions";
import { THEMES } from "src/utils/Themes/Themes.js";
import SEOTags from "@components/SEOTags.astro";
import GoogleAnalytics from "@components/GoogleAnalytics.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>

<html lang="es" data-bs-theme={THEMES.DARK.bs} theme={THEMES.DARK.name}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<SEOTags />

		<GoogleAnalytics />

		<link rel="icon" type="image/svg+xml" href="/favicon-4.svg" />

		<title>{title}</title>

		<!-- <ViewTransitions /> -->
	</head>
	<body>

		<Background>

			<div class="Page-content">

				
				<Navigation />
		
				<main>

					<slot />

				</main>
		
				<Footer />

				

			</div>

		</Background>

		<script src={bootstrap}></script>

	</body>
</html>

<script>
	

</script>


<style is:global>

	.Page-content {
		
        
		border-radius: 10px;

		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	main {
		animation: fadein 1s ease-in;
	}

	@keyframes fadein {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

	.modal-backdrop {
		z-index: 3000;
	}
	.modal {
		z-index: 3100;
	}
</style>
