---
import RootLayout from "@layouts/RootLayout.astro";
import Projects from "@components/Projects.astro";
import Carousel from "@layouts/Carousel/Carousel.astro";

---

<RootLayout title="Proyectos">

    <div class="container">

        <Projects />

        
        <Carousel to="left"/>
    </div>
    
</RootLayout>

